/* ============================ */
/* BASIC SETUP */
/* ============================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    font-size: 1.6rem;
}

ul li {
    list-style-type: none;
}

/* HEADING */

h1 {
    font-size: 4.2rem;
    color: #fff;
}

:focus{
    outline: 0;
}


/* .clearfix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
} */



/* ============================ */
/* REUSABLE COMPONENTS */
/* ============================ */

.row {
    max-width: 114rem;
    margin: 0 auto;
}

section{
    padding: 8rem 0;
}

h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}

h2::after {
    content: "";
    display: block;
    height: .4rem;
    background: #fff;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
}

h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.h4{
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 2.5rem;
}

.box{
    padding: 1%;
}
.box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    color: #fff;
}

/* BUTTON */

.btn:link, .btn:visited, .btn {
    background: #333;
    border-bottom: .3rem solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    border-radius: .3rem;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.6rem;
}

/* PARAGRAPH */

.little-description {
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem;
}

/* ============================ */
/* HEADER SECTION */
/* ============================ */

header {
    background: linear-gradient(rgba(135, 80, 156, 0.9), rgba(135, 80, 156, 0.9)), url(img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 85vh;
    position: relative;
}

.logo {
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

.hero-text-box{
    width: 114rem;
}

/* MAIN NAVIGATION */

.main-nav {
    float: right;
    margin-top: 4rem;
}

.main-nav li {
    display: inline-block;
    margin-left: 1rem;
}

.main-nav li:first-child {
    margin-left: 0;
}

.main-nav li a:link, .main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(100, 58, 121, 0);
    padding: .6rem 1.6rem;
    border-radius: .3rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: .3s;
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
    background: rgba(100, 58, 121, 1);
}

.active{
    background: rgba(100, 58, 121, 1) !important;
    border-radius: .3rem;
}

/* STICKY NAVIGATION */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(135, 80, 156, 0.9);
    padding: 1rem 0;
    box-shadow: 0 .2rem .5rem rgba(255,255,255,.9);
    z-index:9999;
}

.sticky .logo{
    margin-top: 0;
}

.sticky .main-nav{
    margin-top: .2rem;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-hero:link, .btn-hero:visited {
    background: #eb7d4b;
    border-color: #c86a40;
}

/* MOBILE MENU */

.mobile-menu span{
    color: #fff;
    font-size: 4rem;
    float: right;
    margin-top: 2rem;
    display: none;
}
.mobile-menu span:hover{
    cursor: pointer;
}
.overlay{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
    overflow-x: hidden;
    transition: .5s;
}
.overlay-content{
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
}
.overlay a{
    text-decoration: none;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #999;
}

.overlay a:hover{
    color: #fff;
}

.overlay .closebtn{
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 6rem;
}

.sticky .mobile-menu span{
    margin-top: 0;
    line-height: 1;
}

/* ============================ */
/* SERVICES SECTION */
/* ============================ */

.services-section{
    color: #fff;
    text-align: center;
    background: linear-gradient(rgba(23,194,164,0.9),rgba(23,194,164,0.9)), url(img/serveces.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.services-section h2::after{
    background: #14a58c;
}

/* ============================ */
/* TEAM SECTION */
/* ============================ */

.team-section{
    text-align: center;
    background: linear-gradient(rgba(231,241,248,0.9),rgba(231,241,248,0.9)),url(img/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.team-section h2{
    color: #3c4761;
}

.team-section h2::after{
    background: #c8d9e5;
}

.team-member{
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.team-section h3{
    color: #27283d;
}

.role{
    color: #30bae7;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: .5rem;
    display: inline-block;
}
.team-section .box p{
    color: #3c4761;
}

.social-link{
    margin-top: 4.5rem;
}

.social-link ul li{
    display: inline-block;
    margin: 0 .5rem;
}

.social-link ul li a:link{
    color: #fff;
}

.social-link ul li a:link i::before{
    background: #bdd1df;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    transition: .5s;
}

.social-link ul li a:hover i::before{
    background: #393939;
    transform: rotate(360deg);
    color: #fff;
}

/* ============================ */
/* SKILL SECTION */
/* ============================ */

.skill-section{
    text-align: center;
    background: linear-gradient(rgba(231,241,248,0.9),rgba(231,241,248,0.9)), url(img/progress.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.skill-section h2,
.skill-section h3{
    color: #3c4761;
}

.skill-section h2::after{
    background: #dfe8ed;
}

.skill-section .box{
    margin-top: 4.5rem;
}
svg.radial-progress circle{
    stroke-width: 5;
}
svg.radial-progress text{
    fill: #3c4761;
    font-size: 1.5rem;
}
svg.web-design circle{
    stroke: #30bae7;
}

svg.html-css circle{
    stroke: #d74680;
}

svg.graphic circle{
    stroke: #15c7a8;
}

svg.ui-ux circle{
    stroke: #eb7d4b;
}

/* ============================ */
/* PORTFOLIO SECTION */
/* ============================ */

.portfolio-section{
    background: linear-gradient(rgba(255, 221, 153,0.9),rgba(255, 221, 153,0.9)), url(img/portfolio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}

.portfolio-section h2{
    color: #393939;
}

.portfolio-section h2::after{
    background: #e5c37f;
}

.portfolio-filter{
    margin: 4.5rem 0;
}

.portfolio-filter button{
    background: #ebc985;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: .5rem;
    text-transform: uppercase;
    color: #3c4761;
    margin: 0.5rem;
    transition: .5s;
}
.portfolio-filter button:hover{
    cursor: pointer;
    box-shadow: inset 0 .3rem .5rem rgba(60,71,97,0.5);
}

.portfolio-image{
    width: 100%;
    height: auto;
}
.portfolio-section .col:nth-child(3){
    margin-left: 0;
}

.portfolio-section .btn-load-more{
    background: #17c2a4;
    border-color: #14a58c;
}

.portfolio-section .mixitup-control-active{
    background: #fff;
}

/* ============================ */
/* TESTIMONIAL SECTION */
/* ============================ */

.testimonial{
    background: linear-gradient(rgba(215,70,128,0.9),rgba(215,70,128,0.9)), url(img/testimonial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.testimonial .little-description{
    text-align: center;
    color: #fff;
}

.testimonial .col:nth-child(3){
    margin-left: 0;
}
.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2){
    margin-top: 4rem;
}

.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4){
    margin-top: 8rem;
}

.client-photo{
    width: 10rem;
    float: left;
}

.client-photo img{
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.client-review{
    width: 35rem;
    float: left;
}

.client-review p{
    font-size: 2.1rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem;
}

.client-review .role{
    color: #ffdd99;
}

/* ============================ */
/* CONTACT SECTION */
/* ============================ */

.contact-section{
    text-align: center;
    background: linear-gradient(rgba(60, 84, 153,0.9), rgba(60, 84, 153,0.9)),url(img/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contact-section h2::after{
    background: #272a71;
}

.contact-section .little-description{
    color: #fff;
}

.contact-section form{
    margin-top: 5rem;
    width: 70%;
    margin-left: 15%;
}

.contact-section input[type=text],
.contact-section input[type=email],
.contact-section textarea{
    background: #273a71;
    border: .1rem solid #273a71;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: #fff;
    margin: .5rem 0;
}

.contact-section textarea{
    height: 20rem;
}

.contact-section form::placeholder{
    color: #fff;
    opacity: 1;
}

.btn-submit{
    border: 0;
    border-bottom: .3rem solid #299ec5;
    background: #30bae7;
}

.btn-submit:hover{
    cursor: pointer;
}

/* ============================ */
/* FOOTER SECTION */
/* ============================ */

.footer-section{
    background: #344b8e;
    padding: 3rem;
    text-align: center;
    border-top: .1rem solid rgba(255,255,255,0.3);
}
.footer-section li{
    display: inline-block;
    margin: 0 2rem;
}

.footer-section li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.4rem;
}

.footer-section li:hover a{
    color: #30bae7;
}